<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == checkedColumn}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <h3 th:text="${#strings.capitalizeWords(title)}"></h3>

    <table th:fragment="display-all" th:each="job : ${jobs}" class="job-listing">
        <tr th:each="field : ${job}">
            <td th:text="${#strings.capitalizeWords(field.key)}"></td>
            <td><a th:href="@{/list/jobs(column=${field.key},value=${field.value})}" th:text="${field.value}"><span ></span></a></td>
        </tr>
    </table>

</div>

</body>
</html>